__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/
dist/

.venv/
venv/

.pytest_cache/
.ipynb_checkpoints/

.DS_Store

data/
checkpoints/

results/*
!results/.gitkeep
!results/figures/
results/figures/*
!results/figures/.gitkeep
